In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data_HOP.csv"

# Read Purchasing File and store into Pandas data frame
game_data = pd.read_csv(file_to_load)

In [2]:
#Visualize Data Set
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#total player count
total_players = len(game_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [4]:
#purchasing analysis
unique_items = len(game_data["Item ID"].unique())
avg_purchase_price = round((game_data["Price"].mean()), 2)
num_of_purchases = len(game_data["Purchase ID"].unique())
total_revenue = round((game_data["Price"].sum()), 2)
#create new DataFrame to store values
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                       "Average Purchase Price": ["$" +str(avg_purchase_price)],
                                       "Total Number of Purchases": [num_of_purchases],
                                       "Total Revenue": ["$" +str(total_revenue)]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [5]:
#Solution for Gender Demo
gender_df = game_data[["SN", "Gender"]]
#male demos
male_SNlist = gender_df.loc[gender_df["Gender"] == "Male", :]
male_count = len(male_SNlist["SN"].unique())
#female demos
female_SNlist = gender_df.loc[gender_df["Gender"] == "Female", :]
female_count = len(female_SNlist["SN"].unique())
#other demos
other_SNlist = gender_df.loc[gender_df["Gender"] == "Other / Non-Disclosed", :]
other_count = len(other_SNlist["SN"].unique())
#calculate percentages
male_pct = round((male_count/total_players), 2)
female_pct = round((female_count/total_players), 2)
other_pct = round((other_count/total_players), 2)
#create new DF to display gender demo values
gender_demo_df = pd.DataFrame({"Gender":["Male", "Female", "Other/Non-Disclosed"],
                               "Player Count":[male_count, female_count, other_count],
                               "Percentage of Playerbase":[str(male_pct) + "%", str(female_pct) + "%", str(other_pct) + "%"]})
gender_demo_df

                Gender  Player Count Percentage of Playerbase
0                 Male           484                    0.84%
1               Female            81                    0.14%
2  Other/Non-Disclosed            11                    0.02%

In [6]:
#create gender purchase analysis DF from total DF
gender_purchase_df = game_data[["Purchase ID","SN", "Gender", "Price"]]
#male purchase analysis
m_SN_purchase_list = gender_purchase_df.loc[gender_df["Gender"] == "Male", :]
male_pcount = len(m_SN_purchase_list["Purchase ID"].unique())
male_ptotal = round((m_SN_purchase_list["Price"].sum()), 2)
male_pavg = round((m_SN_purchase_list["Price"].mean()), 2)
male_ptotal_per_person = round((male_ptotal / male_count), 2)
#female purchase analysis
f_SN_purchase_list = gender_purchase_df.loc[gender_df["Gender"] == "Female", :]
female_pcount = len(f_SN_purchase_list["Purchase ID"].unique())
female_ptotal = round((f_SN_purchase_list["Price"].sum()), 2)
female_pavg = round((f_SN_purchase_list["Price"].mean()), 2)
female_ptotal_per_person = round((female_ptotal / female_count), 2)
#other purchase analysis
o_SN_purchase_list = gender_purchase_df.loc[gender_df["Gender"] == "Other / Non-Disclosed", :]
other_pcount = len(o_SN_purchase_list["Purchase ID"].unique())
other_ptotal = round((o_SN_purchase_list["Price"].sum()), 2)
other_pavg = round((o_SN_purchase_list["Price"].mean()),2)
other_ptotal_per_person = round((other_ptotal / other_count), 2)
gender_purchase_analysis_df = pd.DataFrame({
                                "Gender":["Male", "Female", "Other/Non-Disclosed"],
                                "Purchase Count":[male_pcount, female_pcount, other_pcount],
                                "Average Purchase Price":["$" + str(male_pavg), "$" + str(female_pavg), "$" + str(other_pavg)],
                                "Total Purchase Value":["$" + str(male_ptotal), "$" + str(female_ptotal), "$" + str(other_ptotal)],
                                "Average Purchase Per Player":["$" + str(male_ptotal_per_person), "$" + str(female_ptotal_per_person), "$" + str(other_ptotal_per_person)]})
gender_purchase_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Player
0,Male,652,$3.02,$1967.64,$4.07
1,Female,113,$3.2,$361.94,$4.47
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
# Create the bins for Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 40, 100]
#labels for bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
game_data["Age Demo"] = pd.cut(game_data["Age"], bins, labels=age_labels)
#<10
age_under10 = game_data.loc[game_data["Age Demo"] == "<10", :]
age_under10_count = len(age_under10["SN"].unique())
age_under10_pct = round((age_under10_count/total_players*100), 2)
#10-14
age_10to14 = game_data.loc[game_data["Age Demo"] == "10-14", :]
age_10to14_count = len(age_10to14["SN"].unique())
age_10to14_pct = round((age_10to14_count/total_players*100), 2)
#15-19
age_15to19 = game_data.loc[game_data["Age Demo"] == "15-19", :]
age_15to19_count = len(age_15to19["SN"].unique())
age_15to19_pct = round((age_15to19_count/total_players*100), 2)
#20-24
age_20to24 = game_data.loc[game_data["Age Demo"] == "20-24", :]
age_20to24_count = len(age_20to24["SN"].unique())
age_20to24_pct = round((age_20to24_count/total_players*100), 2)
#25-29
age_25to29 = game_data.loc[game_data["Age Demo"] == "25-29", :]
age_25to29_count = len(age_25to29["SN"].unique())
age_25to29_pct = round((age_25to29_count/total_players*100), 2)
#30-34
age_30to34 = game_data.loc[game_data["Age Demo"] == "30-34", :]
age_30to34_count = len(age_30to34["SN"].unique())
age_30to34_pct = round((age_30to34_count/total_players*100), 2)
#35-39
age_35to39 = game_data.loc[game_data["Age Demo"] == "35-39", :]
age_35to39_count = len(age_35to39["SN"].unique())
age_35to39_pct = round((age_35to39_count/total_players*100), 2)
#40+
age_40andup = game_data.loc[game_data["Age Demo"] == "40+", :]
age_40andup_count = len(age_40andup["SN"].unique())
age_40andup_pct = round((age_40andup_count/total_players*100), 2)
#create new DF to store results
age_demo_df = pd.DataFrame({
                    "Age":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                    "Total Count":[age_under10_count,age_10to14_count, age_15to19_count, age_20to24_count, age_25to29_count, age_30to34_count, age_35to39_count, age_40andup_count ],
                    "Percentage of Playerbase":[str(age_under10_pct) + "%", str(age_10to14_pct) + "%", str(age_15to19_pct) + "%", str(age_20to24_pct) + "%", str(age_25to29_pct) + "%", str(age_30to34_pct) + "%", str(age_35to39_pct) + "%", str(age_40andup_pct) + "%"]})
age_demo_df.set_index("Age")

       Total Count Percentage of Playerbase
Age
<10             17                    2.95%
10-14           22                    3.82%
15-19          107                   18.58%
20-24          258                   44.79%
25-29           77                   13.37%
30-34           52                    9.03%
35-39           36                    6.25%
40+              7                    1.22%

In [8]:
#Purchase Analysis By Age Group
#<10
age_under10_pcount = len(age_under10["Purchase ID"].unique())
age_under10_pavg = round((age_under10["Price"].mean()), 2)
age_under10_ptotal = round((age_under10["Price"].sum()), 2)
age_under10_ptotal_per_person = round((age_under10_ptotal / age_under10_count), 2)
#10-14
age_10to14_pcount = len(age_10to14["Purchase ID"].unique())
age_10to14_pavg = round((age_10to14["Price"].mean()), 2)
age_10to14_ptotal = round((age_10to14["Price"].sum()), 2)
age_10to14_ptotal_per_person = round((age_10to14_ptotal / age_10to14_count), 2)
#15-19
age_15to19_pcount = len(age_15to19["Purchase ID"].unique())
age_15to19_pavg = round((age_15to19["Price"].mean()), 2)
age_15to19_ptotal = round((age_15to19["Price"].sum()), 2)
age_15to19_ptotal_per_person = round((age_15to19_ptotal / age_15to19_count), 2)
#20-24
age_20to24_pcount = len(age_20to24["Purchase ID"].unique())
age_20to24_pavg = round((age_20to24["Price"].mean()), 2)
age_20to24_ptotal = round((age_20to24["Price"].sum()), 2)
age_20to24_ptotal_per_person = round((age_20to24_ptotal / age_20to24_count), 2)
#25-29
age_25to29_pcount = len(age_25to29["Purchase ID"].unique())
age_25to29_pavg = round((age_25to29["Price"].mean()), 2)
age_25to29_ptotal = round((age_25to29["Price"].sum()), 2)
age_25to29_ptotal_per_person = round((age_25to29_ptotal / age_25to29_count), 2)
#30-34
age_30to34_pcount = len(age_30to34["Purchase ID"].unique())
age_30to34_pavg = round((age_30to34["Price"].mean()), 2)
age_30to34_ptotal = round((age_30to34["Price"].sum()), 2)
age_30to34_ptotal_per_person = round((age_30to34_ptotal / age_30to34_count), 2)
#35-39
age_35to39_pcount = len(age_35to39["Purchase ID"].unique())
age_35to39_pavg = round((age_35to39["Price"].mean()), 2)
age_35to39_ptotal = round((age_35to39["Price"].sum()), 2)
age_35to39_ptotal_per_person = round((age_35to39_ptotal / age_35to39_count), 2)
#40+
age_40andup_pcount = len(age_40andup["Purchase ID"].unique())
age_40andup_pavg = round((age_40andup["Price"].mean()), 2)
age_40andup_ptotal = round((age_40andup["Price"].sum()), 2)
age_40andup_ptotal_per_person = round((age_40andup_ptotal / age_40andup_count), 2)
#create new DF to store results
age_purchase_analysis_df = pd.DataFrame({
                    "Age":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                    "Purchase Count":[age_under10_pcount, age_10to14_pcount, age_15to19_pcount, age_20to24_pcount, age_25to29_pcount, age_30to34_pcount, age_35to39_pcount, age_40andup_pcount],
                    "Average Purchase Price": ["$" + str(age_under10_pavg), "$" + str(age_10to14_pavg), "$" + str(age_15to19_pavg), "$" + str(age_20to24_pavg), "$" + str(age_25to29_pavg), "$" + str(age_30to34_pavg), "$" + str(age_35to39_pavg), "$" + str(age_40andup_pavg)],
                    "Total Purchase Value": ["$" + str(age_under10_ptotal), "$" + str(age_10to14_ptotal), "$" + str(age_15to19_ptotal), "$" + str(age_20to24_ptotal), "$" + str(age_25to29_ptotal), "$" + str(age_30to34_ptotal), "$" + str(age_35to39_ptotal), "$" + str(age_40andup_ptotal)],
                    "Average Total Purchase Per Person": ["$" + str(age_under10_ptotal_per_person), "$" + str(age_10to14_ptotal_per_person), "$" + str(age_15to19_ptotal_per_person), "$" + str(age_20to24_ptotal_per_person), "$" + str(age_25to29_ptotal_per_person), "$" + str(age_30to34_ptotal_per_person), "$" + str(age_35to39_ptotal_per_person), "$" + str(age_40andup_ptotal_per_person)]})
age_purchase_analysis_df.set_index("Age")

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,47,$3.5,$164.38,$4.57
40+,7,$3.08,$21.53,$3.08

In [9]:
#finding top spenders
top_spenders_df = game_data[["SN", "Price"]]
top_spenders_df.head()

              SN  Price
0        Lisim78   3.53
1    Lisovynya38   1.56
2     Ithergue48   4.88
3  Chamassasya86   3.27
4      Iskosia90   1.44

In [ ]:
game_data.head()